<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>
    Hotels
  </title>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">
          Expedia
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#/index">Hotels</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <form action="/index/" method="get">
      <div class="row top-buffer">
        <div class="col-sm-2">
          <span>Destination</span>
        </div>
        <div class="col-sm-2">
          <input type="text" name="destinationName" class="form-control" value="<%= params.destinationName %>" required/>
        </div>
        <div class="col-sm-2">
          <span>Travel Start Date</span>
        </div>
        <div class="col-sm-2">
          <input type="date" name="minTripStartDate" class="form-control" value="<%= params.minTripStartDate %>" required/>
        </div>
        <div class="col-sm-2">
          <span>Travel End Date</span>
        </div>
        <div class="col-sm-2">
          <input type="date" name="maxTripStartDate" class="form-control" value="<%= params.maxTripStartDate %>" required />
        </div>
      </div>
      <div class="row row top-buffer">
        <div class="col-sm-2">
          <span>Length of Stay</span>
        </div>
        <div class="col-sm-2">
          <input type="number" name="lengthOfStay" class="form-control" value="<%= params.lengthOfStay %>" required/>
        </div>
        <div class="col-sm-2">
          <span>Min Guest Review Rating</span>
        </div>
        <div class="col-sm-2">
          <input type="number" name="minGuestRating" class="form-control" value="<%= params.minGuestRating %>" required/>
        </div>
        <div class="col-sm-2">
          <span>Max Guest Review Rating</span>
        </div>
        <div class="col-sm-2">
          <input type="number" name="maxGuestRating" class="form-control" value="<%= params.maxGuestRating %>" required/>
        </div>
      </div>
      <div class="row row top-buffer">
        <div class="col-sm-2">
          <span>Min Total Rate</span>
        </div>
        <div class="col-sm-2">
          <input type="number" name="minTotalRate" class="form-control" value="<%= params.minTotalRate %>" required/>
        </div>
        <div class="col-sm-2">
          <span>Max Total Rate</span>
        </div>
        <div class="col-sm-2">
          <input type="number" name="maxTotalRate" class="form-control" value="<%= params.maxTotalRate %>" required/>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-sm-2">
          <input class="btn btn-primary" type="submit" value="Search">
        </div>
        <div class="col-sm-2">
          <a class="btn btn-danger" href="/index">Clear</a>
        </div>
      </div>
    </form>
  </div>
  <hr size="60">

  <div class="container">

    <% hotels.forEach(function(item){ %>
      <div class="row top-buffer" style="width:600px">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <a class="card-title" target="_blank" href="<%=decodeURIComponent(item.hotelUrls.hotelInfositeUrl)%>">
                <%= item.hotelInfo.hotelName %>
              </a>
              <p class="card-text ">
                <b>Country: </b>
                <span>
                  <%= item.destination.country%>
                </span>
              </p>
              <p class="card-text ">
                <b>City: </b>
                <span>
                  <%= item.destination.city%>
                </span>
              </p>
              <p class="card-text ">
                <b class="rating-num">Rate: </b>
                <span>
                  <%= item.hotelInfo.hotelStarRating %>
                </span>
              </p>
              <p class="card-text ">
                <b>Guest Review Rating: </b>
                <span>
                  <%= item.hotelInfo.hotelGuestReviewRating %>
                </span>
              </p>
              <p class="card-text ">
                <b>Total Review Rating: </b>
                <span>
                  <%= item.hotelInfo.hotelReviewTotal %>
                </span>
              </p>
              <p class="card-text ">
                <b>Hotel Star Rating: </b>
                <span>
                  <%= item.hotelInfo.hotelStarRating %>
                </span>
              </p>
              <p class="card-text ">
                <b>avg/night: </b>
                <span>
                  <%= item.hotelPricingInfo.averagePriceValue %>
                </span>
                <span>$</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <a target="_blank" href="<%=decodeURIComponent(item.hotelUrls.hotelInfositeUrl)%>">
          <img class="card-img-bottom" src="<%= item.hotelInfo.hotelImageUrl %>" alt=" Card image " style="width:50% ">
        </a>
        </div>
      </div>
  <hr size="60">

  <% }); %>
</div>
  
    <footer class="container-fluid ">
    </footer>
</body>

</html>
